<link rel="stylesheet" href="/css/header.css">
<header id="header-container">
    <span id="logo">
        <h3>
            <i class="fa-solid fa-file-csv"></i>
            CSV Viewer
        </h3>
    </span>
    <span id="home-btn">
        <a href="/">Home</a>
    </span>
</header>