

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
     
     background-color: green;
     color: white;
}
td{
     background-color:rgb(231, 226, 226);
}
input[type="text"] {
    width: 40%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 20px;
}